.background
	width 100%
	background #f6f6f6 url("/static/img/content/main-bg.png") no-repeat center center
	background-size cover
	min-height 653px

.main-title
	font-family 'Bebas Neue Cyrillic'
	font-size 70px
	color #FFFFFF
	text-align center
	padding-top 120px
	line-height 80px

	&__span
		color #fac20c

.item-block
	display inline-block
	text-align center
	width 100%

.item
	display inline-block
	text-align center
	margin 43px
	&__text
		font-size 24px
		color #FFFFFF
		margin-top 28px

.condition
	padding 60px 0 60px
	text-align center

.title
	font-size 46px
	text-align center
	font-family 'Bebas Neue Cyrillic'
	color #343434
	&_application
		color #ffffff
		line-height 74px
		&_subtitle
			font-size 24px
			font-family 'PT Sans'

.tab
	display inline-block
	margin 60px 0 0
	position relative
	width 100%
	&__item
		color #808080
		text-decoration none
		font-size 24px
		font-weight bold
		display inline-block
		cursor pointer
		width 50%
		padding 25px 0

		&_active
			color #fac20c
			text-decoration underline
			background-color #ffffff
			border 1px solid #fac20c
			border-bottom none

	&__title
		color #343434
		font-size 30px
		font-weight 700
		line-height 46px
		text-align center
		margin-top 50px


.tab-content
	display none
	background-color #ffffff
	border 1px solid #fac20c
	margin-top: -1px
	&_active
		display block

.item-line
	margin 20px 50px
	&_last
		text-align left

.item-link
	display inline-block
	text-align left
	vertical-align top
	margin 0 30px

	&__title
		font-size 16px
		font-weight bold
		display inline-block
		width 385px
		line-height 24px
		margin-left 5px
	&__text
		color #808080
		font-size 16px
		font-weight normal
	&__img
		vertical-align top

.application
	background url("/static/img/content/bg-application.png") no-repeat center center
	background-size cover
	width 100%

.field-item
	display inline-block
	margin 6px
	&__control
		width 385px
		border none
		padding 20px 20px
		border-radius 28px
		outline none
		font-size 20px
		color #343434

.about
	text-align center
	margin-top 55px

.about-item
	display inline-block
	margin 0 25px
	height 230px
	vertical-align top
	&__text
		margin-top 10px
		font-size 20px
		font-weight bold
		line-height 24px
		width 190px

.service
	text-align center
	margin-top 55px

.service-item
	background-color #ffffff
	display inline-block
	text-align center
	margin 0 8px
	box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.15)
	&__img
		width 100%
	&__btn
		font-size 18px
		font-weight bold
		width 245px
		display block
		margin 0 auto
		padding 10px 0
		margin-bottom 15px
	&__text
		font-size 22px
		font-weight bold
		line-height 24px
		padding-top 30px
	&__price
		font-size 18px
		padding 30px 0 30px
		&_color
			color #fac20c
			font-weight bold
			font-size 25px
.service-arrow
	padding 0 20px
.slick-next
	background url(/static/img/content/row_right.png) no-repeat center center
	width 20px
	height 41px
	right 0
.slick-next:hover
	background url(/static/img/content/row_right.png) no-repeat center center
	width 20px
	height 41px
	right 0
.slick-next:before
	content ""

.slick-prev
	background url(/static/img/content/row_left.png) no-repeat center center
	width 20px
	height 41px
	left 0
.slick-prev:hover
	background url(/static/img/content/row_left.png) no-repeat center center
	width 20px
	height 41px
	left 0
.slick-prev:before
	content ""

.bg-service
	background url("/static/img/content/bg-service.png") no-repeat center center
	background-size cover
	width 100%

.works
	margin 50px 0 50px
	&__link
		padding 10px
		display: inline-block

	&__hidden
		display none

.contact-block
	position relative
	overflow hidden

.contacts
	background-color: rgba(255, 255, 255, 0.92)
	max-width 430px
	padding 50px 40px
	display inline-block
	z-index 100
	height 470px
	position relative

	.title
		text-align left

.info
	font-size 18px
	font-weight bold
	text-align left
	margin  10px 0
	line-height 22px
	&__text
		font-weight  normal
		display block

.ya-map
	width 100%
	height 470px
	position absolute
	left 0
	top 0
	z-index 90

.form-callback
	width 500px
	margin 0 auto
	background-color #ffffff
	text-align center
	padding 50px 0
	position relative

.border
	border 3px solid #f6f6f6

.mfp-close
	position absolute

@media screen and (max-width: 1216px)
	.form
		text-align center

@media screen and (max-width: 1210px)
	.item-line_last
		text-align center

@media screen and (max-width: 860px)
	.ya-map
		position static

	.contacts
		width 100%
		display block
		margin 0 auto
		margin-bottom 40px

@media screen and (max-width: 664px)
	.item-link
		margin-bottom 10px

	.item-line
		margin-bottom 0
		margin-top 0

@media screen and (max-width: 560px)
	.item-link__title
		width 100%

@media screen and (max-width: 530px)
	.main-title
		padding-top 50px
		font-size 40px

@media screen and (max-width: 420px)
	.field-item__control
		width 310px

@media screen and (max-width: 400px)
	.main-title
		padding-top 20px
		font-size 50px
		line-height 40px