.background
	width 100%
	background url("/static/img/content/main-bg.png") no-repeat center center
	background-size cover
	min-height  653px

.main-title
	font-family 'Bebas Neue Cyrillic'
	font-size 70px
	color #FFFFFF
	text-align center
	padding-top  120px
	line-height 80px

	&__span
		color #fac20c

.item-block
	display inline-block
	text-align center
	width 100%
.item
	display inline-block
	text-align center
	margin 43px
	&__text
		font-size 24px
		color #FFFFFF
		margin-top 28px