header
	.container
		.content.content_center
			a(href="#").logo
				img(src="static/img/logo.png").logo__img
				.logo__text
					.logo__title zabor.top
					| Заборы и ворота под ключ
			.telephone
				a(href="tel: +7 (495) 256-27-28").telephone__link +7 (495) 256-27-28
				button(type="button").btn.js-popup-form обратный звонок