.logo
	margin 15px 0 15px
	display inline-block

	&__img
		max-width 75px
		vertical-align top

	&__title
		font-family 'Bebas Neue Cyrillic'
		font-size 46px

	&__text
		font-size 16px
		display inline-block
		margin-left 18px
.telephone
	display inline-block
	float right
	margin 18px 0 18px
	&__link
		font-size 24px
		margin-right 35px

@media screen and (max-width: 830px) {
	.telephone{
		float: none
	}
}