extends ../layout/main

block title
	| Zabor


block content
	.container.background
		.content
			h2.main-title Производство и установка заборов,<br>
				| ворот и навесов
				span.main-title__span   под ключ
			.item-block
				a(href="#").item
					img(src="static/img/content/arrow.png")
					.item__text Заказы от 10 000 руб.

				a(href="#").item
					img(src="static/img/content/arrow.png")
					.item__text Работем круглый год

				a(href="#").item
					img(src="static/img/content/arrow.png")
					.item__text До 600 км от МКАД
