extends ../layout/main

block title
    | Zabor


block content
    .container.background
        .content
            h2.main-title Производство и установка заборов,<br>
                | ворот и навесов
                span.main-title__span   под ключ
            .item-block
                a(href="#").item
                    img(src="static/img/content/arrow.png")
                    .item__text Заказы от 10 000 руб.

                a(href="#").item
                    img(src="static/img/content/arrow.png")
                    .item__text Работем круглый год

                a(href="#").item
                    img(src="static/img/content/arrow.png")
                    .item__text До 600 км от МКАД

    .container
        .content.condition
            .title Почему забор следует заказать именно<br>
                | у нас и прямо сейчас
            .tab.js-tabs
                a.tab__item.tab__item_active(data-name="tab-1") Монтаж Декабрь - Март
                a.tab__item(data-name="tab-2") Монтаж Апрель - Июнь
                .tab-content.tab-content_name-tab-1.tab-content_active
                    .tab__title Специальные условия на монтаж в декабре 2016 года
                    .item-line
                        a(href="#").item-link
                            img(src="static/img/content/numbers/number1.png").item-link__img
                            .item-link__title Стоимость металлопроката зимой традиционно ниже чем весной!
                                .item-link__text Зимой традиционно, в связи с падением спроса стоимость материалов падает!
                        a(href="#").item-link
                            img(src="static/img/content/numbers/number2.png").item-link__img
                            .item-link__title Забутовка - в подарок!
                                .item-link__text Для качественной трамбовки в зимний период мы по
                                    | умолчанию в ПОДАРОК делаем забутовку (прайсовая стоимость услуги 100р/пм)
                    .item-line
                        a(href="#").item-link
                            img(src="static/img/content/numbers/number3.png").item-link__img
                            .item-link__title Специальные цены на материалы
                                .item-link__text Мы и наши поставщики снизили наценку на материалы,
                                    | чтобы сделать наиболее выгодное предложение
                                    | (уменьшение конечной стоимости составило 110-160
                                    | руб/пм в зависимости от типа забора)
                        a(href="#").item-link
                            img(src="static/img/content/numbers/number4.png").item-link__img
                            .item-link__title Расширенная гарантия 2 года
                                .item-link__text На все монтажи устанавливается срок гарантии до 31
                                    | мая 2019 года. Т.е. у вас будет 3 "самых опасных" для
                                    | забора зимних периодов эксплуатации на то чтобы
                                    | убедиться что работы выполнены качественно.
                    .item-line.item-line_last
                        a(href="#").item-link
                            img(src="static/img/content/numbers/number5.png").item-link__img
                            .item-link__title Гарантийное ТО май-июнь
                                .item-link__text ЗПонимая вашу озабоченность качеством монтажа в зимнее время, мы гарантируем провести техническое обслуживание вашего забора в период с 15 мая по 1 июля в обязательном порядке. (Данный пункт закреплен в договоре п.)
                .tab-content.tab-content_name-tab-2
                    .tab__title Специальные условия на монтаж в декабре 2016 года
                        .item-line
                            a(href="#").item-link
                                img(src="static/img/content/numbers/number1.png").item-link__img
                                .item-link__title Стоимость металлопроката зимой традиционно ниже чем весной!
                                    .item-link__text Зимой традиционно, в связи с падением спроса стоимость материалов падает!
                            a(href="#").item-link
                                img(src="static/img/content/numbers/number2.png").item-link__img
                                .item-link__title Забутовка - в подарок!
                                    .item-link__text Для качественной трамбовки в зимний период мы по
                                        | умолчанию в ПОДАРОК делаем забутовку (прайсовая стоимость услуги 100р/пм)
                        .item-line
                            a(href="#").item-link
                                img(src="static/img/content/numbers/number3.png").item-link__img
                                .item-link__title Специальные цены на материалы
                                    .item-link__text Мы и наши поставщики снизили наценку на материалы,
                                        | чтобы сделать наиболее выгодное предложение
                                        | (уменьшение конечной стоимости составило 110-160
                                        | руб/пм в зависимости от типа забора)
                            a(href="#").item-link
                                img(src="static/img/content/numbers/number4.png").item-link__img
                                .item-link__title Расширенная гарантия 2 года
                                    .item-link__text На все монтажи устанавливается срок гарантии до 31
                                        | мая 2019 года. Т.е. у вас будет 3 "самых опасных" для
                                        | забора зимних периодов эксплуатации на то чтобы
                                        | убедиться что работы выполнены качественно.
                        .item-line.item-line_last
                            a(href="#").item-link
                                img(src="static/img/content/numbers/number5.png").item-link__img
                                .item-link__title Гарантийное ТО май-июнь
                                    .item-link__text ЗПонимая вашу озабоченность качеством монтажа в зимнее время

    .container.application
        .content.content_padding
            .title.title_application Узнайте подробности прямо сейчас
                .title_application_subtitle Оставьте заявку и наш менеджер свяжется с Вами в ближайшее время
            form.form
                .field-item
                    input(name="name" type="text" placeholder="Ваше имя").field-item__control
                .field-item
                    input(name="phone" type="phone" placeholder="Ваше номер телефона").field-item__control
                .field-item.field-item_size
                    button(type="button").btn.field-item__control Оставить заявку

    .container.container_color-white
        .content.content_padding
            .title о нас
            .about
                a.about-item.js-popup-form
                    img(src="static/img/content/about/about1.png").about-item__img
                    .about-item__text Работаем с 2012 года
                a.about-item.js-popup-form
                    img(src="static/img/content/about/about2.png").about-item__img
                    .about-item__text Р216 000 метров
                        | забора установленно
                        | в 2014 году
                a.about-item.js-popup-form
                    img(src="static/img/content/about/about3.png").about-item__img
                    .about-item__text Гарантия на работу 24 месяца
                a.about-item.js-popup-form
                    img(src="static/img/content/about/about4.png").about-item__img
                    .about-item__text Опыт монтажных бригад более 5 лет
                a.about-item.js-popup-form
                    img(src="static/img/content/about/about5.png").about-item__img
                    .about-item__text Все материалы соответствуют ГОСТ

    .container
        .content.content_padding
            .title Наши услуги
            .service.js-service-slider.service-arrow
                .service-item
                    img.service-item__img(src="static/img/content/fence/zabor1.png")
                    .service-item__text Забор из профнастила
                    .service-item__price от
                        span.service-item__price_color  890
                        |  р/пм
                    button(type="button").btn.btn_color-white.service-item__btn Подробнее
                    button(type="button").btn.service-item__btn.js-popup-form Заказать
                .service-item
                    img.service-item__img(src="static/img/content/fence/zabor2.png")
                    .service-item__text Забор из профнастила
                    .service-item__price от
                        span.service-item__price_color  890
                        |  р/пм
                    button(type="button").btn.btn_color-white.service-item__btn Подробнее
                    button(type="button").btn.service-item__btn.js-popup-form Заказать
                .service-item
                    img.service-item__img(src="static/img/content/fence/zabor3.png")
                    .service-item__text Забор из профнастила
                    .service-item__price от
                        span.service-item__price_color  890
                        |  р/пм
                    button(type="button").btn.btn_color-white.service-item__btn Подробнее
                    button(type="button").btn.service-item__btn.js-popup-form Заказать
                .service-item
                    img.service-item__img(src="static/img/content/fence/zabor4.png")
                    .service-item__text Забор из профнастила
                    .service-item__price от
                        span.service-item__price_color  890
                        |  р/пм
                    button(type="button").btn.btn_color-white.service-item__btn Подробнее
                    button(type="button").btn.service-item__btn.js-popup-form Заказать
                .service-item
                    img.service-item__img(src="static/img/content/fence/zabor4.png")
                    .service-item__text Забор из профнастила
                    .service-item__price от
                        span.service-item__price_color  890
                        |  р/пм
                    button(type="button").btn.btn_color-white.service-item__btn Подробнее
                    button(type="button").btn.service-item__btn.js-popup-form Заказать
                .service-item
                    img.service-item__img(src="static/img/content/fence/zabor4.png")
                    .service-item__text Забор из профнастила
                    .service-item__price от
                        span.service-item__price_color  890
                        |  р/пм
                    button(type="button").btn.btn_color-white.service-item__btn Подробнее
                    button(type="button").btn.service-item__btn.js-popup-form Заказать

    .container.bg-service
        .content.content_padding
            .title.title_application Услуга замера бесплатно!
                .title_application_subtitle Оставьте заявку и наш менеджер свяжется с Вами в ближайшее время
            form.form
                .field-item
                    input(name="name" type="text" placeholder="Ваше имя").field-item__control
                .field-item
                    input(name="phone" type="phone" placeholder="Ваше номер телефона").field-item__control
                .field-item.field-item_size
                    button(type="button").btn.field-item__control Оставить заявку

    .container
        .content.content_padding
            .title Наши работы
                .works.js-works
                    - var n = 0;
                    while n < 32
                        - n++

                            if n <= 12
                                a(href="static/img/content/works/work" + n + ".jpg").works__link
                                    img(src="static/img/content/works/work" + n + "-small.jpg")
                            else
                                a(href="static/img/content/works/work" + n + ".jpg").works__link.works__hidden
                                    img(src="static/img/content/works/work" + n + "-small.jpg")

                button(type="button").btn.field-item__control.js-show-more-works Показать больше работ

    .container
        .contact-block
            .content
                .contacts
                    .title Наши контакты
                    .info
                        | Адрес:
                        span.info__text 129327, г. Москва, ул. Коминтерна, д.7, к.2,
                            | оф.601 (офисное здание "Теплопроект")
                    .info
                        | Телефон:
                        span.info__text +7 (495) 256-27-28
                    .info
                        | E-mail:
                        span.info__text sales@krepost-sk.ru
                    .info
                        | Время работы офиса::
                        span.info__text Пн-Пт: с 10:00 до 19:00,<br>
                            | Сб, Вс: выходной
            .ya-map#map

    form.form-callback.mfp-hide#popup-form
        .title заказать обратный звонок
        .field-item
            input(name="name" type="text" placeholder="Ваше имя").field-item__control.border
        .field-item
            input(name="phone" type="phone" placeholder="Ваше номер телефона").field-item__control.border
        .field-item.field-item_size
            button(type="button").btn.field-item__control Оставить заявку