.container
	width 100%
	background-color  #f6f6f6
	&_color-white
		background-color #ffffff

.content
	width 100%
	max-width 1200px
	margin 0 auto
	&_padding
		padding 50px 0 50px
	//&_position
	//	position relative


.btn
	border-radius 28px
	border none
	outline none
	background-color  #f4bd0c
	padding 15px 40px
	color  #343434
	font-size 24px
	font-weight bold
	cursor pointer
	&_color-white
		background-color #ffffff
		border 3px solid #f6f6f6